<div class="py-12 flex flex-col gap-4">
  <h2 class="text-4xl font-extrabold">About</h2>
  <p class="text-slate-600">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magnam
    voluptates beatae ea asperiores maxime molestias exercitationem, dignissimos
    tempora soluta sit praesentium officiis consequuntur illum, expedita nisi,
    odio enim ut delectus similique voluptas consectetur natus dolorem repellat?
    Ducimus, magnam. Accusamus eos quas sunt libero possimus nulla ducimus, eum
    laborum soluta ex veniam! Inventore, illum ad repellendus, fugiat soluta sit
    tenetur praesentium ipsam ipsum ut cumque reiciendis ducimus doloremque
    magnam laudantium earum ratione tempora. Eum repudiandae, facilis rerum enim
    deserunt, ipsum omnis modi quos fugiat odit tenetur, dolor eaque?
  </p>
  <p>made with ❤️ by YoavDn</p>
</div>
